:root {
  --primary-color: #88bda4;
  --secondary-color: #e6f2dd;
  --accent-color: #659287;
  --dark-color: #212529;
  --light-color: #ffffff;
  --text-dark: #212529;
  --text-light: #ffffff;
  --bg-light: #ffffff;
  --bg-dark: #212529;
  --card-light: #ffffff;
  --card-dark: #343a40;
  --gradient: linear-gradient(135deg, #198754, #b1d3b9);
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  --transition: all 0.4s ease-in-out;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--bg-light);
  color: var(--text-dark);
  transition: var(--transition);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: var(--text-dark);
}

.section-padding {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 0 auto 40px;
  padding-bottom: 10px;
  padding-top: 3.5rem;

  font-size: 2rem;
  font-weight: 700;
  color: var(--accent-color);
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}

.navbar {
  padding: 0;
  transition: var(--transition);
  background-color: var(--accent-color);
}

.navbar-brand {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--text-light) !important;
}

.navbar .nav-link:focus,
.navbar .nav-link:active,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.nav-link {
  padding: 0.3rem;
  margin: 0 10px;
  position: relative;
  font-size: 1.1rem;
  color: var(--text-light) !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  transition: var(--transition);
}

.nav-link:hover::after {
  width: 100%;
}

.profile-container {
  position: relative;
  z-index: 1;
  padding: 0 5.5rem;
}

.profile {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
  color: white;
  padding-top: 5rem;
}

.profile-content {
  position: relative;
  z-index: 1;
}

.profile h1 {
  font-size: 2rem;
  font-weight: 700;
}

.profile-lead {
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--accent-color);
}

.profile-image {
  width: 70%;
  /* height: auto; */
  padding: 0;
  border-radius: 50%;
  box-shadow: var(--shadow);
}

.profile-wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 0;
  margin-top: -100px;
}

.profile-wave-tools {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0;
  margin-top: -70px;
}

.about-text {
  text-align: justify;
  text-justify: inter-word;
}

.skill-item {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.skill-item img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  display: block;
  align-items: center;
}

.skill-item span {
  display: block;
  margin-top: 8px;
}

.related-tools {
  background-color: var(--bg-light);
}

.projects {
  background-color: var(--secondary-color);
}

.card {
  text-align: justify;
  position: relative;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
}
